# Compiled class files
*.class

# Eclipse specific files
.classpath
.project
.settings/
# Java project
bin/
# Maven project
target/

# Log file
*.log

# macOS
.DS_Store

# Windows
Thumbs.db